.main {
    max-width: 1440px;
    height: 576px;
    /* border: 1px solid red; */
    margin: auto;
    background-image: url('../../images/main/bg-image.jpg');
    background-position: center;
    background-size: cover;
}