.header {
  max-width: 1440px;
  width: 100%;
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
}

.header__components {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 7.25%;
}

.header_status_account {
  box-shadow: inset 0px -1px 0px #d1d2d6;
  color: #1a1b22;
}

.header__title {
  font-family: "Robotoslab regular", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__title:hover {
  cursor: pointer;
}

@media screen and (min-width: 680px) and (max-width: 1024px) {
  .header__components {
    margin: 0 5.25%;
  }
  .header__components {
    height: 66px;
  }
}

@media screen and (min-width: 220px) and (max-width: 679px) {
  .header__components {
    margin: 0 5.25%;
  }

  .header__components {
    height: 56px;
  }
}
