.header {
  width: 1440px;
  height: 80px;
  border: 1px solid rgba(196, 196, 196, 0.01);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
  position: absolute;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_status_account {
  box-shadow: inset 0px -1px 0px #d1d2d6;
  color: #1a1b22;
}

.header__title {
  margin-left: 104px;
  font-family: "Robotoslab regular";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
}

.header__title:hover {
  cursor: pointer;
}
